---
import BaseLayout from '../layouts/BaseLayout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import CapabilityStrip from '../components/CapabilityStrip.astro';
import OperatingFunctionsSection from '../components/OperatingFunctionsSection.astro';
import HowItWorksSection from '../components/HowItWorksSection.astro';
import HumanFirstSection from '../components/HumanFirstSection.astro';
import WhoItsForSection from '../components/WhoItsForSection.astro';
import { siteMeta } from '../data/site';
---

<BaseLayout title={siteMeta.title} description={siteMeta.description}>
  <SiteHeader />
  <main>
    <HeroSection />
    <CapabilityStrip />
    <OperatingFunctionsSection />
    <HowItWorksSection />
    <HumanFirstSection />
    <WhoItsForSection />
  </main>
</BaseLayout>
