---
import { siteMeta } from '../data/site';
---

<header class="site-header page-shell">
  <a class="wordmark" href="/">Span AI Solutions</a>
  <a class="button button--ghost" href={`mailto:${siteMeta.contactEmail}`}>Email sales</a>
</header>
