---
import { siteMeta } from '../data/site';
---

<header class="site-header page-shell">
  <a class="wordmark" href="/">
    <img
      class="wordmark__image"
      src="/brand/logo-white-text.svg"
      alt="Span AI Solutions"
      width="484"
      height="52"
      decoding="async"
    />
  </a>
  <a class="button button--ghost" href={`mailto:${siteMeta.contactEmail}`}>Email sales</a>
</header>
